* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Times New Roman", Georgia, Serif;    
}

html {
    scroll-behavior: smooth;
}

body { 
    margin: 0;
    padding: 0;    
}

.demo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #00ffff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 50px;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #66ff66;
}